* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#one,
#div1 {
    margin-left: 100px;


}

#two {
    padding-left: 20px;


}

#three {
    padding-left: 900px;

}

.for {
    padding-left: 30px;
}

#one1 {
    margin-left: 70px;
    

}
#one1:hover {
    background-color: black;
    color: white;
    border-radius: 4px;
}  

#div1 {

    padding-top: 50px;

}

.div2 {
    margin-left: 100px;

}

.div2:hover {
    background-color: black;
    color: white;
    border-radius: 4px;
}

#div22 {
    margin-left: 70px;
    border: 2px black solid;
    border-radius: 4px;
    background-color: antiquewhite;
}

#div22:hover {
    background-color: black;
    color: white;
    border-radius: 4px;
}

@keyframes act {
    0% {
        background-color: rgb(226, 196, 156);
    }

    20% {
        background-color: rgb(228, 176, 107);
        color: black;
    }

    40% {
        background-color: rgb(213, 139, 86);
        color: darkmagenta;
    }

    60% {
        background-color: rgb(128, 206, 220);
        color: rgb(220, 113, 113);
    }

    80% {
        background-color: rgb(213, 218, 115);
        color: rgb(6, 96, 151);
    }

    100% {
        background-color: rgb(242, 140, 7);
        color: white;
    }

}
center{
 margin-top: 50px;
}
center h1{
    margin-bottom: 20px
   }
footer{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border: 2px solid azure;
    background-color: azure;
    font-size: 20px;
}
  
.unl:hover {
    background-color: black;
    color: white;
    border-radius: 4px;
}
footer table{
    margin-top: 50px;
   margin-left: 200px;
}
.ht{
    animation-name: cha;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.ul{
    margin-left: 100px;
}
span{
    color: darkgoldenrod;  
}
 span:hover{
    color: rgb(0, 0, 0);  
}